<!DOCTYPE html>
<html>
    <head>
        <title>The Splunk Arcade!</title>

        {% include 'head_content.html' %}

        <script>
          let startTime = null;
          let attemptsCount = 0;
          let questions = {{ question_content | tojson }};
          let currentQuestionIndex = 0;

          function showNextQuestion() {
            const question_content = questions[currentQuestionIndex];
            window.questionSource = question_content.source;
            const question = question_content.question;
            const question_link = question_content.link;
            const question_link_text = question_content.link_text;
            const optionsList = document.createElement("ul");
            optionsList.classList.add("space-y-2");

            const options = ['A', 'B', 'C', 'D'];
            const randomizedPrompts = [...question_content.choices].sort(() => Math.random() - 0.5);

            options.forEach((option, idx) => {
                const li = document.createElement("li");
                li.classList.add("flex", "items-center");

                const input = document.createElement("input");
                input.type = "radio";
                input.name = "quiz-answer";
                input.value = randomizedPrompts[idx].prompt;
                input.id = `option-${option}`;
                input.classList.add("mr-2", "accent-cyan-600");

                const label = document.createElement("label");
                label.setAttribute("for", `option-${option}`);
                label.classList.add("text-white", "cursor-pointer");
                label.textContent = randomizedPrompts[idx].prompt;

                li.appendChild(input);
                li.appendChild(label);
                optionsList.appendChild(li);

                if (randomizedPrompts[idx].is_correct) {
                    window.correctAnswer = option;
                }
            });

            const submitButton = document.createElement("button");
            submitButton.textContent = "Submit Answer";
            submitButton.classList.add("w-full", "bg-cyan-600", "hover:bg-cyan-700", "text-white", "py-2", "px-4", "rounded-lg", "mt-4");
            submitButton.onclick = async function () {
                const selectedOption = document.querySelector('input[name="quiz-answer"]:checked');
                const quizModal = document.getElementById("quiz-modal");
                const quizBackdrop = document.getElementById("quiz-backdrop");

                if (selectedOption) {
                    const selectedAnswer = selectedOption.id.split("-")[1];

                    attemptsCount++;

                    if (selectedAnswer === window.correctAnswer) {
                      const quizQuestion = document.querySelector("#quiz-question").textContent;

                      const endTime = new Date().getTime();
                      const timeTaken = (endTime - startTime) / 1000;

                      await showFeedbackPopup(timeTaken, attemptsCount, quizQuestion);

                      $.ajax({
                          type: 'POST',
                          url: '{{ url_for("routes.record_answer") }}',
                          data: JSON.stringify({
                              player_name: "{{ user_username }}",
                              question: quizQuestion,
                              attempts: attemptsCount,
                              time_taken: timeTaken,
                              source: window.questionSource
                          }),
                          contentType: 'application/json',
                          success: function(response) {
                              console.log('Answer recorded successfully:', response);
                          },
                          error: function(error) {
                              console.log('Error recording answer:', error);
                          }
                      });

                      startTime = null;
                      attemptsCount = 0;

                      currentQuestionIndex++;
                      showNextQuestion();

                      return;
                    }
                };

                flashIncorrectAnswer();
            };

            const content = document.createElement("div");
            content.classList.add("space-y-4");
            content.innerHTML = `<p id="quiz-question" class="text-lg font-medium">${question}</p>`;

            if (question_link && question_link_text) {
                const linkElement = document.createElement("a");
                linkElement.href = question_link;
                linkElement.target = "_blank";
                linkElement.textContent = question_link_text;
                linkElement.classList.add("text-cyan-400", "hover:text-cyan-500", "block", "mt-4", "text-center");
                content.appendChild(linkElement);

                const hrElement = document.createElement("hr");
                hrElement.classList.add("border-gray-600", "my-4");
                content.appendChild(hrElement);
            }

            content.appendChild(optionsList);
            content.appendChild(submitButton);

            const container = document.getElementById("question-container");
            container.innerHTML = "";
            container.appendChild(content);
          }

          function flashIncorrectAnswer() {
            const main = document.getElementById("question-container");

            const existingFeedback = document.getElementById("question-feedback-box");
            if (existingFeedback) {
                existingFeedback.remove();
            }

            const feedbackElement = document.createElement("div");
            feedbackElement.id = "question-feedback-box";
            feedbackElement.classList.add(
                "bg-pink-500", "text-white", "absolute", "left-1/2",
                "transform", "-translate-x-1/2", "px-6", "py-4", "text-center",
                "rounded-lg", "shadow-lg", "z-[9999]", "max-w-md", "w-full"
            );

            const messageContent = document.createElement("div");
            messageContent.textContent = `Wrong answer. Try again!`;

            messageContent.classList.add("mb-4");

            const closeButton = document.createElement("button");
            closeButton.textContent = "OK";
            closeButton.classList.add(
                "bg-white", "text-pink-500", "px-4", "py-2", "rounded-lg",
                "font-bold", "cursor-pointer", "hover:bg-gray-200"
            );

            closeButton.onclick = () => feedbackElement.remove();

            feedbackElement.appendChild(messageContent);
            feedbackElement.appendChild(closeButton);

            main.appendChild(feedbackElement);
          }

          function showFeedbackPopup(timeTaken, attemptsCount, question) {
              return new Promise((resolve) => {
                  const feedbackElement = document.createElement("div");
                  feedbackElement.classList.add(
                      "fixed", "top-1/2", "left-1/2", "transform", "-translate-x-1/2", "-translate-y-1/2",
                      "px-6", "py-4", "rounded-lg", "transition-all", "duration-300",
                      "max-w-md", "w-full", "bg-gray-800", "text-white", "shadow-lg",
                      "space-y-3", "z-50"
                  );

                  feedbackElement.innerHTML = `
          <p class="text-xl font-bold text-center">Correct!</p>
          <p class="text-center">It took you ${timeTaken.toFixed(2)} seconds and ${attemptsCount} attempt(s).</p>
          <p class="text-center">Hey, if you liked this question, give it a thumbs up. If it wasn't so great, give it a thumbs down.</p>
          `;

                  const thumbsContainer = document.createElement("div");
                  thumbsContainer.classList.add("flex", "justify-center", "space-x-4");

                  const thumbsUpBtn = document.createElement("button");
                  thumbsUpBtn.classList.add("bg-green-600", "text-white", "px-4", "py-2", "rounded-lg", "hover:bg-green-700", "transition");
                  thumbsUpBtn.textContent = "👍";
                  thumbsUpBtn.onclick = function() {
                      feedbackElement.remove();
                      backdrop.remove();
                      sendFeedback(question, true);
                      resolve();
                  };

                  const thumbsDownBtn = document.createElement("button");
                  thumbsDownBtn.classList.add("bg-red-600", "text-white", "px-4", "py-2", "rounded-lg", "hover:bg-red-700", "transition");
                  thumbsDownBtn.textContent = "👎";
                  thumbsDownBtn.onclick = function() {
                      feedbackElement.remove();
                      backdrop.remove();
                      sendFeedback(question, false);
                      resolve();
                  };

                  thumbsContainer.appendChild(thumbsUpBtn);
                  thumbsContainer.appendChild(thumbsDownBtn);
                  feedbackElement.appendChild(thumbsContainer);

                  const closeButton = document.createElement("button");
                  closeButton.textContent = "❌";
                  closeButton.classList.add("absolute", "top-2", "right-2", "text-white", "text-xl", "bg-transparent", "border-none", "cursor-pointer");

                  closeButton.onclick = function() {
                      feedbackElement.remove();
                      backdrop.remove();
                      resolve();
                  };

                  feedbackElement.appendChild(closeButton);

                  const backdrop = document.createElement("div");
                  backdrop.classList.add(
                      "fixed", "top-0", "left-0", "w-full", "h-full", "backdrop-blur-sm", "bg-opacity-30", "z-40"
                  );

                  document.body.appendChild(backdrop);
                  document.body.appendChild(feedbackElement);
              })

          }

          function sendFeedback(question, is_good) {
              $.ajax({
                  type: 'POST',
                  url: "{{ url_for('routes.record_question_thumbs_up_down') }}",
                  data: JSON.stringify({
                      player_name: "{{ user_username }}",
                      is_good: is_good,
                      question: question,
                  }),
                  contentType: 'application/json',
                  success: function(response) {
                      console.log('Feedback recorded:', response);
                  },
                  error: function(error) {
                      console.log('Error recording feedback:', error);
                  }
              });
          }

          document.addEventListener("DOMContentLoaded", function () {
            showNextQuestion();
          });

        </script>
    </head>
    <body class="min-h-screen flex flex-col bg-gray-800 bg-cover bg-center" style="background-image: url('{{ url_for('static', filename='images/arcade_bg_.png') }}');">
        <header>
            <img src="{{ url_for('static', filename='images/arcade__.png')}}" class="mx-auto h-32">
        </header>

        <nav class="bg-gray-800 text-white py-2 shadow-md opacity-90">
            <ul class="flex justify-center space-x-8">
                <li><a id="home" href="{{url_for('routes.home')}}" class="text-2xl tracking-wide press-start-2p-regular">Home</a></li>
                <li><a href="{{ dashboard_home_endpoint }}" target="_blank" class="text-2xl tracking-wide press-start-2p-regular">Dashboard</a></li>
                <li><a id="scoreboardLink" href="#" class="text-2xl tracking-wide press-start-2p-regular">Scoreboard</a></li>
                <li><a href="{{ logout_endpoint }}" class="text-2xl tracking-wide press-start-2p-regular">Logout</a></li>
            </ul>
        </nav>

        <main class="flex items-center justify-center min-h-[80vh] py-2">
          <div
            id="question-container"
            class="px-6 py-4 rounded-lg transition-all duration-300 max-w-md w-full bg-gray-800 text-white space-y-3"
          >
            <!-- question rendered here -->
          </div>
        </main>


    </body>

    {% include 'footer.html' %}
</html>
